/* ------------------АДРЕСС----------------------------- */
.address-item {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
    &:first-child {
        margin-top: 20px;
    }
}

.adress-link {
    color: var(--brand-white-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}