/* Логотип */
.logo {
    color: var(--accent-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-black {
    color: var(--logo-black-color);
}

.logo-white {
    color: var(--brand-white-color);
}