/* -------------------СОЦСЕТИ -------------------------*/
.social-list {
    display: flex;
    justify-content: center;
}
.social-item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}

.social-link {
    display: flex;
    height: 44px;
    width: 44px;
    background-color: transparent;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        background-color: var(--accent-color);
    }
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-link:hover &, .social-link:focus & {
        fill: var(--brand-white-color);
    }
}