/* Контакты HEADER */
.contacts-nav {
    display: flex;
}
.contacts-nav-item {
    &:not(:last-child) {
        margin-right: 50px;
    }
}
.contacts-nav-link {
    color: var(--main-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}
.contacts-nav-icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--main-color);
    align-self: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts-nav-link:hover &, .contacts-nav-link:focus & {
        fill: var(--accent-color);
    }
}
.contacts-nav-icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--main-color);;
    align-self: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contacts-nav-link:hover &, .contacts-nav-link:focus & {
        fill: var(--accent-color);
    }
}
