/* ----------------СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ ----------------*/
.work {
    display: flex;
    justify-content: center;
    margin-right: calc( -1 * var(--item-gap));
}
.work-item {
    flex-basis: calc(100% / 3 - var(--item-gap)); /*----calc((100% / кол-во элементов в строке - значение марджина)----*/
    margin-right: var(--item-gap);
}
.work-thumb {
    display: block;
    position: relative;
    left: 0;
    top: 0;
}
.work-text {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    
    font-size: 14px;
    line-height: 1.14;
    color: var(--brand-white-color);

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}